APP_URL="https://example.com"
APP_DOMAIN="example.com"
APP_KEY=CmJHj2NNNVGPtrGCJWjenbLN1BNVtUUoKDPFBxriC20=

DB_HOST="localhost"
DB_PORT="3306"
DB_DATABASE="example"
DB_USERNAME="root"
DB_PASSWORD=""

REDIS_URL=
REDIS_QUERY_URL=

FILESYSTEM_DISK="s3"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=sgp1
AWS_BUCKET=
AWS_URL=
AWS_ENDPOINT=
S3_ENDPOINT_URL=
